<!DOCTYPE html>
<html>
<head>
	<title>Student Response System</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="styles.css"></link>
	
</head>
<body>
	<h1>Student Response System</h1>

	<div id="classroom">
		<!-- Div containing the information for the currently joined class -->
		<div id="joined-class">
		
		</div>
	</div>

	<!-- Div containing the list of classes available -->
	<div id="class-list">
		<div id="classes">
		</div>
		<button id="create-class-btn">Create Class</button>
	</div>

	<!-- Template for the joined class div -->
	<script id="joined-class-temp" type="x-dot-template">
		<h2 id="classroomID">{{=it.classroomID}}</h2><h2>{{=it.name}}</h2>
		<ul>
			{{~it.questions :value:index}}
			<li>{{=value.questionText}}</li>
			{{~}}
		</ul>
		<div id="create-question">
			<form>
				<label>Question: </label>
				<input type="text" id="question"/>
				<br/>
				<label>Answer 1: </label>
				<input type="text" id="answer1"/>
				<br/>
				<label>Answer 2: </label>
				<input type="text" id="answer2"/>
				<br/>
				<label>Answer 3: </label>
				<input type="text" id="answer3"/>
				<br/>
				<label>Answer 4: </label>
				<input type="text" id="answer4"/>
			</form>
			<button id="create-question-btn">Create Question</button>
		</div>
		
	</script>

	<!-- Div containing the form for creating the new class -->
	<div id="create-class">
		<form>
			<label>Classroom ID: </label>
			<input type="text" id="classroom-id"/>
			<br/>
			<label>Classroom Name: </label>
			<input type="text" id="classroom-name"/>
		</form>
		<button id="submit-class">Submit</button>
	</div>
	
	<!-- Template for the class list div -->
	<script id="classes-temp" type="x-dot-template">
		{{? it.count === undefined}}
			<strong>No classes in the system</strong>
			<p>Total: 0</p>
		{{??}}
			<table>
				<th>Classroom ID</th><th>Classroom Name</th>
				{{~it.classrooms :value:index}}
				<tr><td><button class="join-btn">{{=value.classroomID}}</button></td><td>{{=value.name}}</td></tr>
				{{~}}
			</table>
			<p>Total: {{=it.count}}</p>
		{{?}}
	</script>
	<script src="scripts/doT.min.js"></script>
	<script src="scripts/scripts.js"></script>
</body>
</html>